<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="c81e1d641d3246a0a92dbef92989344d" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_c81e1d641d3246a0a92dbef92989344d = echarts.init(
            document.getElementById('c81e1d641d3246a0a92dbef92989344d'), 'white', {renderer: 'canvas'});
        var option_c81e1d641d3246a0a92dbef92989344d = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u5546\u5bb6A",
            "data": [
                300,
                108,
                0,
                166,
                228,
                231,
                1,
                266,
                5,
                4,
                350,
                199,
                5,
                1,
                1,
                11
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u5546\u5bb6B",
            "data": [
                24,
                143,
                23,
                77,
                97,
                78,
                150
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u5546\u5bb6c",
            "data": [
                106,
                131,
                62,
                75,
                100,
                43,
                116
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5546\u5bb6A",
                "\u5546\u5bb6B",
                "\u5546\u5bb6c"
            ],
            "selected": {
                "\u5546\u5bb6A": true,
                "\u5546\u5bb6B": true,
                "\u5546\u5bb6c": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u4e0a\u6d77",
                "\u676d\u5dde",
                null,
                "\u6b66\u6c49",
                "\u4e2d\u5c71",
                "\u4e1c\u839e",
                "var gardenName=\u7ebd\u5bbe\u51ef\u6c49city\u56fd\u9645\u793e\u533a",
                "\u4f5b\u5c71",
                "\u60e0\u5dde",
                "\u5357\u901a",
                "\u9752\u5c9b",
                "\u5609\u5174",
                "\u592a\u4ed3",
                "\u6e56\u5dde",
                "\u5317\u4eac",
                "\u5408\u80a5"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Bar-\u57fa\u672c\u793a\u4f8b",
            "subtext": "\u6211\u662f\u526f\u6807\u9898"
        }
    ]
};
        chart_c81e1d641d3246a0a92dbef92989344d.setOption(option_c81e1d641d3246a0a92dbef92989344d);
    </script>
</body>
</html>
